In [40]:
# Comparing triplets by a function and assigning points

def compareTriplets(a, b):
     
    points_a = 0
    points_b = 0
    for i in range(len(a)):
        if a[i] > b[i]:
            points_a += 1
        elif a[i] < b[i]:
            points_b += 1
    
    return [points_a , points_b]

compareTriplets([1,2,3] , [2,5,6])

[0, 3]

In [39]:
#Forming dictionaries by diff syntaxes

# Syntax 1

d1 = {2:22 , 1:33, 'k1':1 , 7:22}
print(d1)
print(d1.items())
print(d1.get('key1' , "alpha"))

# Syntax 2

b = [(1,2) , ("python" , 11) , ("C++" , '11')]
a = dict(b)
print(a)
print(a.items())

{2: 22, 1: 33, 'k1': 1, 7: 22}
dict_items([(2, 22), (1, 33), ('k1', 1), (7, 22)])
alpha
{1: 2, 'python': 11, 'C++': '11'}
dict_items([(1, 2), ('python', 11), ('C++', '11')])

In [22]:
# Getting data from index in list, tuples, strings

a1 = 'abcdefg'
a2 = [1,2,3,34,5,65]
a3 = (1,2,4,6,74,4,6,7)

print(a1.find('c'))
print(a2.index(34))
print(a3.index(2))

# Analysis: get() = dictionary, index() = list/tuple,  find() = string

2
3
1

In [15]:
# Variable length input, output


def sum(a, *b):
    print(a,b)
    print(type(b))
    sum = a
    
    for i in b:
        sum += i
    
    return sum


sum(1,2,3,22,3,5)

1 (2, 3, 22, 3, 5)
<class 'tuple'>

36

In [21]:
# Adding, multiplying, sorting tuples

a= (1,2,3)
b = ('asc', 'jupyter')
print(a+b)
print(a*2)
print(b*3)
print(list(a*4).sort())
l1 = list(a*4)
l1.sort()     # We can't write l1.sort().reverse() its an error. We have to do these operations separately 
l1.reverse()
print(l1)

(1, 2, 3, 'asc', 'jupyter')
(1, 2, 3, 1, 2, 3)
('asc', 'jupyter', 'asc', 'jupyter', 'asc', 'jupyter')
None
[3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1]

In [11]:
# Working with tuples, lists and strings

a = 1,2
print(a)

b,c = 2,33
print(b, c, end='\n')

b = (1)     # Single integer in brackets does not form a tuple.
c = (1,2)
d = ()
print(type(b), type(c), type(d))

b = ('1','2','3','4')
print(''.join(b))      #This join() function works only when there 'str' data type inside tupe / list. It fails with 'int'


# converting tuple to list and vice vera

a = (1,2,3,11)
b = list(a)
print(b)   # Tuple to list

a = [1,33,'dd', 'sdck']
b = tuple(a)
print(b)  # List to tuple

(1, 2)
2 33
<class 'int'> <class 'tuple'> <class 'tuple'>
1234
[1, 2, 3, 11]
(1, 33, 'dd', 'sdck')

In [11]:
# Checking sort function in 2d lists

a = [[1,2,3,4,5], [1,4,3,2,1], [1,2,33]]
a.sort()
print(a)

a = [ [1,4,3,2,1], [1,2,3]]
a.sort()
print(a)


a = [ [1,4,3,2,1], [1,2,33], [1,2,3,4,5]]
a.sort()
print(a)

# We conclude that 1st element is taken into account, and length of list is not considered as any criterion in sorting
# Moreover sorting is done in ascending order by default (same as "order by in SQL")

[[1, 2, 3, 4, 5], [1, 2, 33], [1, 4, 3, 2, 1]]
[[1, 2, 3], [1, 4, 3, 2, 1]]
[[1, 2, 3, 4, 5], [1, 2, 33], [1, 4, 3, 2, 1]]

In [16]:
# Now checking reverse() function

a =  [1,4,3,2,1]
a.reverse()
print(a)

a = [1,2,3,4,5,6,7,8,9]
a.reverse()
print(a)

# reverse in 2D list

a = [[1,2,3,4,5], [1,4,3,2,1], [1,2,33]]
a.reverse()
print(a)


a = [[0,0,0,1,1,1] ,[1,2,3,4,5], [1,4,3,2,1], [1,2,33]]
a.reverse()
print(a)

# We get to know, that reverse in 2D list is not concerned by elements inside list, 
# but it just reverses the order of lists inside the 2D list

[1, 2, 3, 4, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[[1, 2, 33], [1, 4, 3, 2, 1], [1, 2, 3, 4, 5]]
[[1, 2, 33], [1, 4, 3, 2, 1], [1, 2, 3, 4, 5], [0, 0, 0, 1, 1, 1]]

In [12]:
# Checking input.split fn

a = ('Checking a function named as "123"').split()
print(type(a))
print(a)

a = [ str(i) for i in input().split()]
print(type(a))
print(a)

<class 'list'>
['Checking', 'a', 'function', 'named', 'as', '"123"']
121 12 131 12 fdf
<class 'list'>
['121', '12', '131', '12', 'fdf']