In [45]:
# Doing statistical stuff with Pandas

import pandas as pd

data = pd.read_csv("C:/Users/Lenovo/Desktop/Startup_funding.csv" , header = 0)
print(data.head(1))

amount = data["Amount in USD"]
print(amount.head(4))

#amount.dropna(inplace = True)
print(amount.head(3))



a1 = amount.str.replace(',' ,'')
print(a1.head(3))

a1.replace('undisclosed', pd.NA, inplace=True)


a2 = pd.to_numeric(a1, errors='coerce')
print(a2.head(3))

sample_size = 200

sample = a2.sample(sample_size)
sample.head(10)

print( a2.max() , sample.max())
print( a2.min() ,sample.min())
print(a2.mean() , sample.mean())
print( a2.count(), sample.count())

   Sr No Date dd/mm/yyyy Startup Name Industry Vertical SubVertical  \
0      1      09/01/2020       BYJUâ€™S            E-Tech  E-learning

  City  Location           Investors Name       InvestmentnType Amount in USD  \
0      Bengaluru  Tiger Global Management  Private Equity Round  20,00,00,000

  Remarks
0     NaN
0    20,00,00,000
1       80,48,394
2     1,83,58,860
3       30,00,000
Name: Amount in USD, dtype: object
0    20,00,00,000
1       80,48,394
2     1,83,58,860
Name: Amount in USD, dtype: object
0    200000000
1      8048394
2     18358860
Name: Amount in USD, dtype: object
0    200000000.0
1      8048394.0
2     18358860.0
Name: Amount in USD, dtype: float64
3900000000.0 300000000.0
16000.0 30000.0
18429897.27080872 13154759.301470589
2065 136

In [70]:
data = pd.read_csv("C:/Users/Lenovo/Desktop/Startup_funding.csv" , header = 0)
data.head(5)

amount = data["Amount in USD"]
amount.head(3)
a1 = amount.str.replace(',' ,'')
a2 = pd.to_numeric(a1, errors = 'coerce')
a2
print(a2.mean() , a2.max() , a2.min())
s1 = a2.sample(900, random_state = 4)
print(s1.mean() , s1.max(), s1.min())

18429897.27080872 3900000000.0 16000.0
22560047.26752381 3900000000.0 16000.0

In [19]:
# Dictionaries

a = { 'Alpha':1000 , 'beta' : 500 , 'gamma': 100 , 23:100 , 'dict1' : {1:2 , 'dict': 'dict'}}
print(a.items())
print(type(a))
print(a.get('alpha' ,100))
print(a.get('Alpha'))
print(a['Alpha'])
print(a.get('dict1'))
#a['aa']
a.get('aa', 'none_is_there')

dict_items([('Alpha', 1000), ('beta', 500), ('gamma', 100), (23, 100), ('dict1', {1: 2, 'dict': 'dict'})])
<class 'dict'>
100
1000
1000
{1: 2, 'dict': 'dict'}

'none_is_there'

In [27]:

a = { 'Alpha':1000 , 'beta' : 500 , 'gamma': 100 , 23:100 , 'dict1' : {1:2 , 'dict': 'dict'}}
print(a.items())
print(a.keys())
print(a.values())

for i in a:
    print(i)
    
print("now printing values")

for i in a:
    print(a[i])
    
print(a.get("Key1" , 'No_key'))

bool = 'key' in a
print(bool)

arr = [1,2,3,3,4,4,5,5,4,3,222]

bool1 = 'apple' in arr
print(bool1)

a.keys()

dict_items([('Alpha', 1000), ('beta', 500), ('gamma', 100), (23, 100), ('dict1', {1: 2, 'dict': 'dict'})])
dict_keys(['Alpha', 'beta', 'gamma', 23, 'dict1'])
dict_values([1000, 500, 100, 100, {1: 2, 'dict': 'dict'}])
Alpha
beta
gamma
23
dict1
now printing values
1000
500
100
100
{1: 2, 'dict': 'dict'}
No_key
False
False

dict_keys(['Alpha', 'beta', 'gamma', 23, 'dict1'])

In [36]:
n = int(input())
dict1 = { i:i**2 for i in range(1, n+1) }
print(dict1)

l1 = [(i, i**2) for i in range(1, n+1)]
my_dict = dict(l1)
print(my_dict)

3
{1: 1, 2: 4, 3: 9}

TypeError: 'dict' object is not callable

In [40]:
l1 = [1,2,3,34,44,2,1,1]
d1 = tuple(l1)
d1

(1, 2, 3, 34, 44, 2, 1, 1)

In [44]:
n = 5
l1 = [(i, i**2) for i in range(1, n+1)]
dict2 = dict(l1)
print(dict2)

TypeError: 'dict' object is not callable

In [49]:
arr1 = [1,2,3,4]
arr2 = arr1.reverse()
arr2
max(arr1)http://localhost:8888/notebooks/18th%20Jan%20.ipynb#

4

In [53]:
s = '12:00:00AM'
if s[8:10] == 'AM':
         print(s[: 8])
        
concat( s, 'ABCD')
concat( 'a', 'b')

12:00:00

NameError: name 'concat' is not defined

In [55]:
s = '07:05:45PM'

if s[8:10] == 'PM':
         
         
         hr = format( s[ :2] , int)
         
         if hr != 12:
            hr = hr + 12
         
         print( str(hr) + s[2: 8])
print(s[ : 2])

TypeError: format() argument 2 must be str, not type

In [61]:
s = '07:05:45PM'
print(format(s[ 1:2] , 3))

TypeError: format() argument 2 must be str, not int