In [14]:
# Working with Pandas

import pandas as pd

file = pd.read_csv("c:/Users/Lenovo/Desktop/startup_funding.csv" )

print(data.head(4))

print("next operation")
# print(file[2])   Its an error

print(file.loc[2])

print(file["Sr No"])

print(file.dtypes)

   Sr No Date dd/mm/yyyy                  Startup Name  ...       InvestmentnType Amount in USD Remarks
0      1      09/01/2020                        BYJU’S  ...  Private Equity Round  20,00,00,000     NaN
1      2      13/01/2020                        Shuttl  ...              Series C     80,48,394     NaN
2      3      09/01/2020                     Mamaearth  ...              Series B   1,83,58,860     NaN
3      4      02/01/2020  https://www.wealthbucket.in/  ...          Pre-series A     30,00,000     NaN

[4 rows x 10 columns]
next operation
Sr No                                                    3
Date dd/mm/yyyy                                 09/01/2020
Startup Name                                     Mamaearth
Industry Vertical                               E-commerce
SubVertical          Retailer of baby and toddler products
City  Location                                   Bengaluru
Investors Name                       Sequoia Capital India
InvestmentnType                                   Series B
Amount in USD                                  1,83,58,860
Remarks                                                NaN
Name: 2, dtype: object
0          1
1          2
2          3
3          4
4          5
        ...
3039    3040
3040    3041
3041    3042
3042    3043
3043    3044
Name: Sr No, Length: 3044, dtype: int64
Sr No                 int64
Date dd/mm/yyyy      object
Startup Name         object
Industry Vertical    object
SubVertical          object
City  Location       object
Investors Name       object
InvestmentnType      object
Amount in USD        object
Remarks              object
dtype: object

In [22]:
import pandas as pd

file = pd.read_csv("c:/Users/Lenovo/Desktop/startup_funding.csv" )

del file["Sr No"]

print(file.head(5))

print(file.values)

file.describe()

  Date dd/mm/yyyy                  Startup Name    Industry Vertical  ...       InvestmentnType Amount in USD Remarks
0      09/01/2020                        BYJU’S               E-Tech  ...  Private Equity Round  20,00,00,000     NaN
1      13/01/2020                        Shuttl       Transportation  ...              Series C     80,48,394     NaN
2      09/01/2020                     Mamaearth           E-commerce  ...              Series B   1,83,58,860     NaN
3      02/01/2020  https://www.wealthbucket.in/              FinTech  ...          Pre-series A     30,00,000     NaN
4      02/01/2020                        Fashor  Fashion and Apparel  ...            Seed Round     18,00,000     NaN

[5 rows x 9 columns]
[['09/01/2020' 'BYJU’S' 'E-Tech' ... 'Private Equity Round'
  '20,00,00,000' nan]
 ['13/01/2020' 'Shuttl' 'Transportation' ... 'Series C' '80,48,394' nan]
 ['09/01/2020' 'Mamaearth' 'E-commerce' ... 'Series B' '1,83,58,860' nan]
 ...
 ['30/01/2015' 'Mad Street Den' nan ... 'Private Equity' '15,00,000' nan]
 ['30/01/2015' 'Simplotel' nan ... 'Private Equity' nan
  'Strategic Funding, Minority stake']
 ['31/01/2015' 'couponmachine.in' nan ... 'Seed Funding' '1,40,000' nan]]

       Date dd/mm/yyyy Startup Name  Industry Vertical  ... InvestmentnType Amount in USD   Remarks
count             3044         3044               2873  ...            3040          2084       419
unique            1035         2459                821  ...              55           471        72
top         02/02/2015     Ola Cabs  Consumer Internet  ...  Private Equity     10,00,000  Series A
freq                11            8                941  ...            1356           165       175

[4 rows x 9 columns]

In [24]:
print(file.values)

[['09/01/2020' 'BYJU’S' 'E-Tech' ... 'Private Equity Round'
  '20,00,00,000' nan]
 ['13/01/2020' 'Shuttl' 'Transportation' ... 'Series C' '80,48,394' nan]
 ['09/01/2020' 'Mamaearth' 'E-commerce' ... 'Series B' '1,83,58,860' nan]
 ...
 ['30/01/2015' 'Mad Street Den' nan ... 'Private Equity' '15,00,000' nan]
 ['30/01/2015' 'Simplotel' nan ... 'Private Equity' nan
  'Strategic Funding, Minority stake']
 ['31/01/2015' 'couponmachine.in' nan ... 'Seed Funding' '1,40,000' nan]]

In [28]:
import pandas as pd

file = pd.read_csv("c:/Users/Lenovo/Desktop/startup_funding.csv" , header = None)
print(file)
print(file[1])
print(file.loc[1])

          0                1  ...              8                                  9
0     Sr No  Date dd/mm/yyyy  ...  Amount in USD                            Remarks
1         1       09/01/2020  ...   20,00,00,000                                NaN
2         2       13/01/2020  ...      80,48,394                                NaN
3         3       09/01/2020  ...    1,83,58,860                                NaN
4         4       02/01/2020  ...      30,00,000                                NaN
...     ...              ...  ...            ...                                ...
3040   3040       29/01/2015  ...      45,00,000                                NaN
3041   3041       29/01/2015  ...       8,25,000                Govt backed VC Fund
3042   3042       30/01/2015  ...      15,00,000                                NaN
3043   3043       30/01/2015  ...            NaN  Strategic Funding, Minority stake
3044   3044       31/01/2015  ...       1,40,000                                NaN

[3045 rows x 10 columns]
0       Date dd/mm/yyyy
1            09/01/2020
2            13/01/2020
3            09/01/2020
4            02/01/2020
             ...
3040         29/01/2015
3041         29/01/2015
3042         30/01/2015
3043         30/01/2015
3044         31/01/2015
Name: 1, Length: 3045, dtype: object
0                          1
1                 09/01/2020
2                     BYJU’S
3                     E-Tech
4                 E-learning
5                  Bengaluru
6    Tiger Global Management
7       Private Equity Round
8               20,00,00,000
9                        NaN
Name: 1, dtype: object

In [1]:
file.index
file.drop([1,2,3,4] , inplace = True)
file.drop( file.index[0,2,3,6] , inplace = True)

NameError: name 'file' is not defined

In [7]:
def birthday(arr, d, m):
    # Write your code here
    
    way = 0
    
    for i in range(len(arr)):
        sum_arr = 0
        arr1 = []
        
        if i+m+1 <= len(arr):
            arr1 = arr[i:i+m+1]
            
            sum_arr = sum(arr1)
            
            if sum_arr == d:
                way += 1
    
    return print(way)

birthday([1,1,1,1,1,1,1,1,11,11,1,1,1,1,1,1] , 8,4)

0